<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Check-In</title>
    <link rel="stlyesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
   <form th:action="@{'/checkins/'+${id}+'/edit/save'}" th:object="${checkin}" 
   metho="post">
   <div th:replace="~{fragments/checkinForm :: checkinForm(titulo='Editar Check-In', checkin=${checkin})}">
    
   </div>
</form>
  

</body>
</html>