<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
    <link rel="stlyesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
   <form th:action="@{'/empleados/'+${documento}+'/edit/save'}" th:object="${empleado}" 
   metho="post">
   <div th:replace="~{fragments/empleadoForm :: empleadoForm(titulo='Editar empleado', empleado=${empleado})}">
    
   </div>
</form>
</body>
</html>